.NavBar {
    height: 60px;
    background-color: #2057E3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.NavBar .menu {
    height: 10px;
    width: auto;
    padding: 20px;
}

.NavBar h1 {
    font-size: 20px;
    padding: 10px;
}

.NavBar .logo {
    height: 50px;
    width: auto;
    right: 0px;
}